@tailwind base;

@font-face {
  font-family: 'Dirtyline';
  src: url(../font/Dirtyline36daysoftype.otf);
}

@font-face {
  font-family: 'DxGrafik-BlackItalic';
  src: url(../font/DxGrafik-BlackItalic.otf);
}

@font-face {
  font-family: 'DxGrafik-SemiBold';
  src: url(../font/DxGrafik-SemiBold.otf);
}

@font-face {
    font-family: 'Magtis';
    src: url(../font/MAGTIS-EXTRABOLD-FREE\ PERSONAL\ USE.OTF);
}

html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

.main svg#Layer_2 {
    transform: scale(0.3);
    transform-origin: center center;
}

.wrapper-hero div svg#Layer_2 {
  position: absolute;
  transform:translateY(-12px) scale(0.1) ;
  -webkit-transform:translateY(-12px) scale(0.1);
}


html, body {
    width: 100%;
    height: 100%;
    font-family: 'DxGrafik-SemiBold', sans-serif;
    background-color: rgb(9 9 11);
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 25px 25px 0;
  padding: 25px;
  transform:translateY(-16px)  rotate(-45deg);
  -webkit-transform:translateY(-16px)  rotate(-45deg);
}

.card {
    position: absolute; 
    width: 300px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;

}

#card-1 {
    width: 250px;
    height: 250px;
    top: 20%;
    left: 37%;
}

#card-2 {
    top: 50%;
    left: 47%;
}

#card-3 {
    top: 15%;
    left: 57%;
}

#card-4 {
    top: 55%;
    left: 67%;
}

.main h1 {
    transform: translate(-50%, -50%);
    width: max-content;
}



@media (max-width: 1024px) {
  

  .wrapper-hero {
    width: 300vw;
  }

  .title {
    font-size: 20vw;
  }

  .main h1 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  
  .wrapper-hero {
    width: 200vw;
  }

  .title {
    font-size: 15vw;
  }

  .main h1 {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
 
  .wrapper-hero {
    width: 150vw;
  }

  .title {
    font-size: 10vw;
  }

  .main h1 {
    font-size: 10px;
  }
}

@tailwind components;
@tailwind utilities;
